*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

height:100vh;
background:linear-gradient(135deg,#4facfe,#00f2fe);
display:flex;
flex-direction:column;
}



header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
color:white;

}

nav a{

margin-left:20px;
text-decoration:none;
color:white;
font-weight:500;

}

nav a:hover{

border-bottom:2px solid white;

}



.container{

flex:1;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

}



.search-card,
.weather-card{

background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
color:white;
text-align:center;
box-shadow:0 8px 32px rgba(0,0,0,0.2);

}

input{

padding:12px;
border:none;
border-radius:10px;
margin-top:20px;
width:200px;

}

button{

padding:12px 25px;
border:none;
border-radius:10px;
margin-left:10px;
background:white;
color:#333;
cursor:pointer;

}

button:hover{

background:#eee;

}



.icon{

width:120px;
margin:20px 0;

}

.temp{

font-size:60px;

}

.details{

display:flex;
justify-content:space-around;
margin-top:20px;

}



.forecast-title{

color:white;
margin-bottom:20px;

}

.forecast-grid{

display:grid;
grid-template-columns:repeat(5,120px);
gap:20px;

}

.forecast-card{

background:rgba(255,255,255,0.2);
padding:20px;
border-radius:15px;
text-align:center;
color:white;

}

.forecast-card img{

width:50px;
margin:10px 0;

}



footer{

text-align:center;
padding:10px;
color:white;

}